background:
	linear-gradient(
		limegreen,
		transparent
	),
	linear-gradient(
		90deg,
		skyblue,
		transparent
	),
	linear-gradient(
		-90deg,
		coral,
		transparent
	);
	
background-blend-mode: screen;

#login {
	background:#A9BD38;
	background:-moz-linear-gradient(top,#A9BD38 0%,#5F7F1F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#A9BD38),color-stop(100%,#5F7F1F));
	background:-webkit-linear-gradient(top,#A9BD38 0%,#5F7F1F 100%);
	background:-o-linear-gradient(top,#A9BD38 0%,#5F7F1F 100%);
	background:-ms-linear-gradient(top,#A9BD38 0%,#5F7F1F 100%);
	background:linear-gradient(top,#A9BD38 0%,#5F7F1F 100%);
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#A9BD38', endColorstr='#5F7F1F',GradientType=0);
	padding:10px 15px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:16px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #459A00
}  
