#login {
	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5f7f1f+0,5f7f1f+0,a9bd38+0,5f7f1f+96 */
	background: #5f7f1f; /* Old browsers */
	background: -moz-linear-gradient(top,  #5f7f1f 0%, #5f7f1f 0%, #a9bd38 0%, #5f7f1f 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f7f1f), color-stop(0%,#5f7f1f), color-stop(0%,#a9bd38), color-stop(96%,#5f7f1f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5f7f1f 0%,#5f7f1f 0%,#a9bd38 0%,#5f7f1f 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5f7f1f 0%,#5f7f1f 0%,#a9bd38 0%,#5f7f1f 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5f7f1f 0%,#5f7f1f 0%,#a9bd38 0%,#5f7f1f 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #5f7f1f 0%,#5f7f1f 0%,#a9bd38 0%,#5f7f1f 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f7f1f', endColorstr='#5f7f1f',GradientType=0 ); /* IE6-9 */
    padding:10px 15px;
    color:#fff;
    font-family:'Helvetica',sans-serif;
    font-size:16px;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #459A00 ;
    width: 68px;
    margin-left: auto;
    margin-right: auto;
}  

#group_name {
	align-items: center
	text-align: center;
	height:40px
	border-radius:10px;

}

#logo {
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;
	width: 600px;
}


#login a:link {
	color:#fff;
	text-decoration: none;
}

#login a:visited {
	color:#fff;
	text-decoration: none;
}

table.center, th, td {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}


th {
    background: transparent -moz-linear-gradient(center top , #A9BD38 0%, #5F7F1F 100%) repeat scroll 0% 0%;
    color: #fff;
}

#ul {
	font-family: Helvetica;
	border: 3px solid #A9BD38;
	width: 400px;
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	list-style-type:none;
	margin-top:60px;
}

li {
	list-style:none;
}

#notauth {
    display: block;
    position: absolute;
    top: 100px;
    width: 400;
    color: #fff;
    background-color: #FC7613;
    right: 20px;
    left: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20;
    border-radius: 50px 15px;
	box-shadow: 10px 10px 5px #888888;
}

/*testing a search bar!*/


<!DOCTYPE html>
<html>
<head>
<title>Search Box Example 1</title>
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<!-- CSS styles for standard search box -->
<style type="text/css">
	#tfheader{
		background-color:#c3dfef;
	}
	#tfnewsearch{
		float:right;
		padding:20px;
	}
	.tftextinput {
	    margin: 0px;
	    padding: 5px 15px;
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 14px;
	    border-width: 1px 0px 1px 1px;
	    border-style: solid none solid solid;
	    -moz-border-top-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    border-image: none;
	    border-top-left-radius: 5px;
	    border-bottom-left-radius: 5px;
	    border-color: rgb(169, 189, 56) -moz-use-text-color rgb(169, 189, 56) rgb(169, 189, 56);
	}
	.tfbutton {
	    margin: 0px;
	    padding: 5px 15px;
	    font-family: Arial,Helvetica,sans-serif;
	    font-size: 14px;
	    outline: medium none;
	    cursor: pointer;
	    text-align: center;
	    text-decoration: none;
	    color: #FFF;
	    border-width: 1px 0px 1px 1px;
	    border-style: solid none solid solid;
	    border-color: #A9BD38 -moz-use-text-color #A9BD38 #A9BD38;
	    -moz-border-top-colors: none;
	    -moz-border-right-colors: none;
	    -moz-border-bottom-colors: none;
	    -moz-border-left-colors: none;
	    border-image: none;
	    background: transparent -moz-linear-gradient(center top , #A9BD38, #5F7F1F) repeat scroll 0% 0%;
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	}
	}
	.tfbutton:hover {
		text-decoration: none;
		background: #007ead;
		background: -webkit-gradient(linear, left top, left bottom, from(#5F7F1F), to(#344D16));
		background: -moz-linear-gradient(top,  #5F7F1F,  #344D16);
	}
	/* Fixes submit button height problem in Firefox */
	.tfbutton::-moz-focus-inner {
	  border: 0;
	}
	.tfclear{
		clear:both;
	}
</style>
</head>
<body>


>>>>>>> targeta
