{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>
		{% block title %}
		{% endblock %}
		</title>
		<meta http-equiv="refresh" content="10;URL='http://surveymonkey.com'" />
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	</head>
	<body style="background-image:url(https://upload.wikimedia.org/wikipedia/commons/2/27/Baby_ginger_monkey.jpg); background-repeat:no-repeat; background-size:cover;">
		<h1><font color=white style="font-family: 'Permanent Marker', cursive;font-size:300%;">Thank you!</font></h1>
		<font color=white>Redirecting you to http://surveymonkey.com in 10 seconds</font>
	</body>
</html>
