{% extends 'base.html' %}
<link rel="stylesheet" href="style.css">
{% block body %}
	<table>
		<tr>
			<th>
				Survey Title
			</th>
			<th>
				Date Created
			</th>
			<th>
				Last Modified
			</th>
			<th>
				Resposnes
			</th>
			<th>
				Questions
			</th>
			<th>
				Language
			</th>
		</tr>
		{% for survey in surveys %}
			<tr>
				<td>
					<a href="{{survey.preview_url}}">{{ survey.title }}</a>
				</td>
				<td>
					{{ survey.date_created }}
				</td>
				<td>
					{{ survey.date_modified }}
				</td>
				<td>
					{{ survey.num_responses }}
				</td>
				<td>
					{{ survey.question_count }}
				</td>
				<td>
					{{ survey.language_id }}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
{% if prev_link %}
	<span id="prev_link"><a href="{% url user %}?page={% prev_link %}">&lt;Prev</a></span>
{% endif %}
{% if next_link %}
	<span id="next_link"><a href="{% url user %}?page={% next_link %}">Next;&gt;</a></span>
{% endif %}