{% extends 'base.html' %}
{% block body %}
	<H1 id='group_name'>{{group_name}}</H1>
	<div id="ul">
		<ul id="users_list">
			<form action="/user/{{user.id}}" method="post">{% csrf_token %}
				{% for user in users %}	
					<li> 
						{% if ThisUsername != user.username%}
							<input type="checkbox" name="selected" value={{user.username}}>
						{% endif %}
						<a href="/user/{{user.id}}">{{user.username}}</a>
						{% if user.is_admin %}&nbsp;(Admin){% endif %}
					</li>
				{% endfor %}
				{% if users.count > 1 %}
					<button type='submit' formmethod="post" name='add_admin' formaction="." value='add_admin'>
					Add Admin Privileges</button>
					<button type='submit' formmethod="post" name='remove_admin' formaction="." value='remove_admin'>Remove Admin Privileges</button>
				{% endif %}
			</form>
		</ul>
	</div>
{% endblock %}