{% extends 'base.html' %}
<link rel="stylesheet" href="style.css">
{% block body %}
	<H1 id='group_name'>{{group_name}}</H1>
	<div id="ul">
		<ul id="users_list">
			<form action="/user/{{user.id}}" method="post">{% csrf_token %}
				{% for user in users %}	
					<li> 
						{% if ThisUsername != user.username%}
							<input type="checkbox" name="selected" value={{user.username}}>
						{% endif %}
						{% if user.is_admin %}<img src="http://pngimg.com/upload/star_PNG1594.png" style="width:17px;height:17px;">{% endif %}
						<a href="/user/{{user.id}}">{{user.username}}</a>
					</li>
				{% endfor %}
				{% if users.count > 1 %}
					<button type='submit' formmethod="post" name='add_admin' formaction="." value='add_admin'>
					Add Admin Privileges</button>
					<button type='submit' formmethod="post" name='remove_admin' formaction="." value='remove_admin'>Remove Admin Privileges</button>
					<button type='submit' formmethod="post" name='remove_user' formaction="." value='remove_user' style="color: red">DELETE User</button>
				{% endif %}
			</form>
		</ul>
	</div>
{% endblock %}
