{% extends 'base.html' %}
{% block body %}
	<span id="home_link"><a href="/users">Home</a></span>
	<div id="title_search" style="width:300px; margin:auto;">
		<form action="/user/{{ id }}/" method="post">{% csrf_token %}
			<strong>Search for surveys by title/nickname</strong>
			<input type="search" name="search_value" value="{{ search_value }}">
			<button type="submit" id="search" name="search">
				Search
			</button>
		</form>
	</div>
	<div id='result_summary'>
		{% if search_value != '' %}
   			Search for "{{ search_value }}" returned 
   		{% else %}
   			Survey list returned
		{% endif %}
		{% if surveys|length >= page_size %}
   			first 
		{% endif %}
		{{ surveys|length }} surveys.
	</div>
	{% ifnotequal prev_link None %}
		<span id="prev_link"><a href="/user/{{ id }}?page={{ prev_link }}">&lt; Prev</a></span>
	{% endifnotequal %}
	{% ifnotequal next_link None %}
		<span id="next_link"><a href="/user/{{ id }}?page={{ next_link }}">Next &gt;</a></span>
	{% endifnotequal %}
	<table id="table" align="center">
		<tr>
			<th>
				Survey Nickname
			</th>
			<th>
				Date Created
			</th>
			<th>
				Last Modified
			</th>
			<th>
				Responses
			</th>
			<th>
				Questions
			</th>
			<th>
				Language
			</th>
		</tr>
		{% for survey in surveys %}
			<tr>
				<td>
					<a href="{{survey.preview_url}}" target="_blank">{{ survey.title }}</a>
				</td>
				<td>
					{{ survey.date_created }}
				</td>
				<td>
					{{ survey.date_modified }}
				</td>
				<td>
					{{ survey.num_responses }}
				</td>
				<td>
					{{ survey.question_count }}
				</td>
				<td>
					{{ survey.language_id }}
				</td>
			</tr>
		{% empty %}
    		<td colspan=6>No Surveys Found</td>
		{% endfor %}
	</table>
	{% ifnotequal prev_link None %}
		<span id="prev_link"><a href="/user/{{ id }}?page={{ prev_link }}">&lt; Prev</a></span>
	{% endifnotequal %}
	{% ifnotequal next_link None %}
		<span id="next_link"><a href="/user/{{ id }}?page={{ next_link }}">Next &gt;</a></span>
	{% endifnotequal %}
{% endblock %}
